
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.line1 {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #aaf4f1;
}

.chart-title {
  font-size: 30px;
}

.github-logo{
  height: 40px;
  width: 40px;
  color: black;
  border-radius: 5px;
  background-color: none;
  margin: 10px;
}

.header {
  display: flex;
  align-items: inherit;
  width: 100%;
  justify-content: space-between;
}