body {
  background-color: #aaf4f1;
}

a {
  background: transparent;
  border: 3px solid transparent;
  padding: 3px;
  color: #000000;
  cursor: pointer;
  border-radius: 10px;
  color: steelblue;
}

a:hover {
  background: transparent;
  border: 3px solid steelblue;
  padding: 3px;
  color: #000000;
  cursor: pointer;
  border-radius: 10px;
  color: steelblue;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.line1 {
  fill: none;
  stroke: steelblue;
  stroke-width: 3px;
}

.chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#dow-chart-container, #chart-container, #my_dataviz{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.charts {
  margin-top: 80px;
}

.toggle-buttons{
  display: flex;
  justify-content: center;
}

.chart-title {
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.github-logo{
  height: 40px;
  width: 40px;
  color: black;
  border-radius: 5px;
  background-color: none;
  margin: 10px;
}

.header {
  background-color: #aaf4f1;
  display: flex;
  align-items: inherit;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  top: 0;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.links {
  text-decoration: none;
  color: black;
  font-size: 25px;
}