.bar-chart {
  background-color: #d9cec7;
}
    
.bar {
  fill: #4dd34d;
}

.line {
          fill: none;
          stroke: steelblue;
          stroke-width: 2px;
        }

.chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

body {
  background-color: #aaf4f1;
  /* background-color: #2c6b9b; */
}

.chart-title {
  font-size: 30px;
}

.github-logo{
  height: 40px;
  width: 40px;
  color: black;
  border-radius: 5px;
  background-color: none;
  margin: 10px;
}
